<div
  class="flex flex-col items-center justify-center min-h-screen p-10 bg-gradient-to-b from-gray-100 to-gray-300"
>
  <img [src]="notFoundUrl" alt="Psyduck Crying" class="w-48 animate-shake" />
  <h1 class="text-4xl font-bold text-yellow-500 drop-shadow-md">
    野生的 404 錯誤出現了！
  </h1>
  <p class="text-lg text-gray-600 mb-5">
    看起來這裡沒有任何寶可夢，也許是牠們都逃跑了。
  </p>
  <a
    routerLink="/"
    class="inline-block px-6 py-3 text-lg text-white bg-red-500 rounded-xl shadow-md hover:bg-red-700 hover:shadow-lg transition-all duration-300"
    >🏠 回到寶可夢中心</a
  >
</div>
