<div class="card">
  <div class="favorite-icon" (click)="onToggleFavorite()">
    <img [src]="isFavorite ? favoriteFilled : favoriteOutline" alt="收藏" />
  </div>
  <img
    [src]="pokemon.Img"
    [alt]="pokemon.EnglishName"
    class="pokemon-Img"
    loading="lazy"
  />
  <h3 class="card-title">
    {{ pokemon.ChineseName }} ({{ pokemon.EnglishName }})
  </h3>
  <div class="card-details">
    <p class="card-description">{{ pokemon.Description }}</p>
    <p>
      類型:
      <span
        *ngFor="let type of pokemon.Types"
        class="type-badge"
        [style.backgroundColor]="getTypeColor(type.Name)"
        [style.color]="'#fff'"
      >
        {{ type.Name }}
      </span>
    </p>
  </div>
</div>
