<div class="container">
  <h1 class="pokemon-dictionary-title">寶可夢多語名稱對照表</h1>

  <pokemon-dictionary-search-bar
    (queryChange)="updateSearchQuery($event)"
  ></pokemon-dictionary-search-bar>

  <div class="pokemon-table-container">
    <!-- <div *ngIf="isLoading" class="loading-dots">
      <span></span><span></span><span></span>
    </div> -->

    <pokemon-dictionary-table
      [pokemonList]="filteredPokemonList"
      [isLoading]="isLoading"
    ></pokemon-dictionary-table>
  </div>

  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="offset === 0 || isLoading">
      上一頁
    </button>
    <span>第 {{ currentPage }} 頁</span>
    <button (click)="nextPage()" [disabled]="isLoading">下一頁</button>
  </div>
</div>
