.container {
  max-width: 800px;
  min-width: auto;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.pokemon-dictionary-title {
  font-size: 28px;
  font-weight: bold;
}
