<div class="pokemon-table-container">
  <table class="pokemon-table">
    <thead>
      <tr>
        <th>圖片</th>
        <th>英文</th>
        <th>繁體中文</th>
        <th>簡體中文</th>
        <th>韓文</th>
        <th>日文</th>
      </tr>
    </thead>

    <tbody *ngIf="isLoading">
      <tr>
        <td colspan="6">
          <div class="loading-dots">
            <span></span><span></span><span></span>
          </div>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="!isLoading && pokemonList.length === 0">
      <ng-container *ngTemplateOutlet="noResults"></ng-container>
    </tbody>

    <tbody *ngIf="!isLoading && pokemonList.length > 0">
      <tr *ngFor="let pokemon of pokemonList">
        <td>
          <img
            [src]="pokemon.imageUrl"
            [alt]="pokemon.englishName"
            class="pokemon-img"
          />
        </td>
        <td class="english-name">{{ pokemon.names.englishName || "" }}</td>
        <td class="chinese-name">
          {{ pokemon.names.traditionalChineseName || "" }}
        </td>
        <td class="simplified-chinese-name">
          {{ pokemon.names.simplifiedChineseName || "" }}
        </td>
        <td class="korean-name">{{ pokemon.names.koreanName || "" }}</td>
        <td class="japanese-name">{{ pokemon.names.japaneseName || "" }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noResults>
  <div class="no-results">
    <img [src]="notFound" alt="Pokemon Not Found" class="no-results-img" />
    沒有尋找到寶可夢<br />
    <span>用別的條件重新搜尋吧。</span>
  </div>
</ng-template>
