/* nav {
  background-color: #3b4cca;
  padding: 15px 20px;
  border-bottom: 5px solid #ffcb05;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

nav {
  background: #3b4cca;
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.2) 1px,
      transparent 1px
    ),
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 2px, transparent 2px);
  background-size: 40px 40px, 80px 80px;
  padding: 15px 20px;
  border-bottom: 5px solid #ffcb05;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo:hover {
  text-decoration: none;
}

.logo img {
  height: 40px;
  width: 40px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

@media (max-width: 768px) {
  .logo-text {
    display: none;
  }

  .logo img {
    height: 30px;
    width: 30px;
  }
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px 15px;
  white-space: nowrap;
  transition: background 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #ffcb05; /* 黃色背景 */
  color: #333333; /* 深色文字 */
}
