.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1.5;
}

.lottery-result {
  width: 100%;
}

.pokemon-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* 寶可夢圖片 */
.lottery-result img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 寶可夢資訊 */
.pokemon-info {
  padding: 10px;
  text-align: center;
}

.pokemon-name-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pokemon-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e63946;
}

.pokemon-details p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #333;
}

.type-badge {
  display: inline-block;
  background-color: #ffcb05;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Loading 畫面 */
.loading-text {
  font-size: 1.4rem;
  color: #777;
  font-weight: bold;
  text-align: center;
  animation: pulse 1.5s infinite alternate ease-in-out;
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.8;
  }
  to {
    transform: scale(1.1);
    opacity: 1;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-icon {
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
