<div class="pokemon-table-container">
  <table class="pokemon-table">
    <thead>
      <tr>
        <th>圖片</th>
        <th>英文</th>
        <th>繁體中文</th>
        <th>簡體中文</th>
        <th>韓文</th>
        <th>日文</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemonList">
        <td>
          <img
            [src]="pokemon.imageUrl"
            [alt]="pokemon.englishName"
            class="pokemon-img"
          />
        </td>
        <td class="english-name">{{ pokemon.names.englishName || "顆顆" }}</td>
        <td class="chinese-name">
          {{ pokemon.names.traditionalChineseName || "顆顆" }}
        </td>
        <td class="simplified-chinese-name">
          {{ pokemon.names.simplifiedChineseName || "顆顆" }}
        </td>
        <td class="korean-name">{{ pokemon.names.koreanName || "" }}</td>
        <td class="japanese-name">{{ pokemon.names.japaneseName || "" }}</td>
      </tr>
    </tbody>
  </table>
</div>
