<div class="header">
  <h1 class="title">寶可夢圖鑑</h1>
  <div class="stats">
    <div class="search-area">
      <input
        type="text"
        placeholder="搜尋寶可夢..."
        class="search-box"
        [(ngModel)]="searchQuery"
        (input)="onSearch()"
        (compositionstart)="isComposing = true"
        (compositionend)="onCompositionEnd()"
      />
    </div>
  </div>
</div>

<div
  class="pokemon-container"
  *ngIf="filteredPokemonList.length > 0; else noResults"
>
  <app-pokemon-card
    *ngFor="let pokemon of filteredPokemonList"
    [pokemon]="pokemon"
  ></app-pokemon-card>
</div>

<ng-template #noResults>
  <div class="no-results">
    <img
      src="/assets/images/NotFound.png"
      alt="Pokemon Not Found"
      class="no-results-img"
    />
    沒有尋找到寶可夢。<br />
    <span>用別的條件重新搜尋吧。</span>
  </div>
</ng-template>
