<div class="header">
  <h1 class="title">寶可夢圖鑑</h1>
  <div class="stats">
    <pokedex-search-bar (queryChange)="onSearch($event)"></pokedex-search-bar>
  </div>
  <div class="buttons">
    <button
      class="favorite-toggle"
      [class.active]="viewMode === ViewMode.Favorites"
      (click)="toggleShowFavorites()"
    >
      {{
        viewMode === ViewMode.Favorites ? "顯示所有寶可夢" : "只顯示我的收藏"
      }}
    </button>

    <button class="clear-favorites" (click)="clearAllFavorites()">
      清空收藏
    </button>
  </div>
</div>

<div
  class="pokemon-container"
  *ngIf="filteredPokemonList.length > 0; else noResults"
>
  <app-pokemon-card
    *ngFor="let pokemon of filteredPokemonList"
    [pokemon]="pokemon"
    [isFavorite]="isFavorite(pokemon)"
    (toggleFavorite)="toggleFavorite($event)"
  ></app-pokemon-card>
</div>

<ng-template #noResults>
  <div class="no-results">
    <img [src]="notFound" alt="Pokemon Not Found" class="no-results-img" />
    沒有尋找到寶可夢。<br />
    <span>用別的條件重新搜尋吧。</span>
  </div>
</ng-template>
